body {
	text-align: center;
	font-family: helvetica;
	background-color: #F2F2F2;
}


footer{
	padding-top: 50px;
}

.boxed {
	height:50px;
	width: 350px;
	background-color:rgb(140,211,202);
	font-size: 16px;
	font-weight: lighter;
	margin-left: 37.5%;
	color: #4A4A4A;
}
.skin {
	height:550px;
	width: 350px;
	background-color:rgb(252,255,255);
	font-size: 16px;
	font-weight: lighter;
	margin-left: 37.5%;
	margin-top: -5px;
	text-align: left;
	padding-top: 10px;
}

h2{
	padding-top: 15px;
	font-size: 16px;
}


button {
	margin-top: 50px;
	color: white;
	background-color: #4A4A4A;
	font-family: helvetica;
	font-size: 14px;
	border-radius: 8px;
	padding: 10px 25px;
	border: none;
	margin-left: 90px;
}

button:hover {
    background-color: #878787;
}

h3{
	padding-left: 20px;
	font-size: 16px;
}

ul{
	list-style-type: none;
	padding-bottom: 20px;
}

#screen2 {
	visibility: hidden;
	display:none;
}