canvas {
	margin: 0;
  padding: 0;
  border-style: solid;
  font-size: 100%;
  font: inherit;
  margin-left: 230px;
	margin-right: 250px;
}

.border:hover
{
  color: #A9A9A9;
}

body {
  background: #FAC2A1;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #626262;
}

h1 {
  text-align: center;
  font-size: 72px;
}


.centerclass{
	margin: auto;
	width: 50%;
	padding: 10px;
}

.column-left, .column-right{ float: right; width: 33%; }

.column-center{ display: inline-block; width: 33%; }

footer {
  text-align: center;
}
