body {
	text-align: center;
	font-family: helvetica;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
}

#logo {
	padding-top: 58%;
}

footer{
	padding-top: 50%;
}

a{
	color: white;
	text-decoration: none;
	font-size: 24px;
	opacity: 0;
	animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}

p{
	text-align: center;
	color: black;
	font-size: 40px;
}

h2{
	padding-top: 15px;
	font-size: 40px;
	color: #53F3E7;
}

ul{
	list-style-type: none;
	padding-bottom: 10px;
}

li {
	font-size: 36px;
	color: black;
	margin-top: 50px;
	text-align: left;
}

button {
	margin-top: 20%;
	color: white;
	background-color: rgb(140,211,202);
	font-family: helvetica;
	font-size: 26px;
	border-radius: 8px;
	padding: 30px 45px;
	border: none;
}

button:hover {
    background-color: #C2C2C2;
}

#accept {
	color: white;
	background-color: rgb(140,211,202);
	font-family: helvetica;
	font-size: 12px;
	border-radius: 8px;
	padding: 30px 45px;
	border: none;
}

.fade-in {
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

li {
	opacity: 0;
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

li:nth-child(5n+1) {
  animation-delay: 0.9s;
}
li:nth-child(5n+2) {
  animation-delay: 1.8s;
}
li:nth-child(5n+3) {
  animation-delay: 2.7s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}