body {
    text-align: center;
    background: #FAC2A1;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 30%;
    padding-right: 30%;
    max-width: 500px;
}

p {
    padding-top: 5%;
    color: #626262;
}

div {
    text-align: left;
}

a {
    text-decoration: none;
    color: #626262;
}

ol {
    color: #626262;
}

h3 {
    text-align: center;
}

img {
    float: center; 
    width: 45%;
    text-align: center;
}

footer {
    padding-top: 23%;
}